<div class="separador">
        <h2 class="titulos">¿Que es Age of Empires?</h2>    
        <p class="parrafo">
            Age of Empires (también conocido como Age of Empires I) es un videojuego de 
            estrategia en tiempo real para computadoras personales, el primero de la serie
            homónima, lanzado el 26 de octubre de 1997 y escenificado en una línea del tiempo 
            de 3000 años, desde la temprana Edad de piedra hasta la Edad del hierro. El 
            jugador tiene opción de elegir entre 12 civilizaciones.
            <br><br>
            Se pueden ver varios tipos de civilizaciones las cuales dependiendo de su elección
            le favorecerán ciertas estrategias, por la simple razón que cada una tiene
            bonificaciones particulares en el juego. Las civilizaciones son: griega, minoica,
            fenicia, egipcia, asiria, sumeria, babilonia, persa, hitita, shang, choson y yamato.
            <a routerLink="/civilizations" class="mas"> Conocer mas...</a>
        </p>
</div>