<header>
    <div class="div-nav" id="myMenu">
        <h3 class="tit-inicio">Age of Empires</h3>

        <nav class="main-nav" id="nav">
                <li>
                    <a class="mInicio col-6" routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}">
                    Inicio
                    </a>
                </li>
                <li>
                    <a class="mCiv col-6" routerLink="/civilizations" routerLinkActive="activo">
                    Civilizaciones
                    </a>
                </li>
        </nav>
    </div>

</header>