<header>
    <div class="div-nav" id="myMenu">
        <h3 class="tit-inicio">Age of Empires</h3>

        <nav class="main-nav" id="nav" style="float:right;">
            <div>
                <a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}">
                    <li>Inicio</li>
                </a>
                <a routerLink="/civilizations" routerLinkActive="activo">
                    <li>Civilizaciones</li>
                </a>
            </div>
        </nav>
    </div>

</header>